<div class="dialog-container">

  <div class="dialog-header">
    <h2 mat-dialog-title>Editar Sprint</h2>
    <button type="button" mat-icon-button class="close-btn" (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="simple-dialog-content">

    <form [formGroup]="sprintForm" class="simple-form">

      <mat-form-field appearance="outline" class="full-width custom-field">
        <mat-label>Nombre del Sprint</mat-label>
        <input matInput formControlName="name" placeholder="Ej: Sprint Diciembre 2025" required>
        <mat-icon matSuffix>edit</mat-icon>
        <mat-error *ngIf="sprintForm.get('name')?.hasError('required')">
          El nombre es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width custom-field">
        <mat-label>Descripción (Opcional)</mat-label>
        <textarea matInput formControlName="description" placeholder="Objetivos principales..." rows="3"></textarea>
        <mat-icon matSuffix style="align-self: start; margin-top: 8px;">description</mat-icon>
      </mat-form-field>

      <div class="form-row">

        <mat-form-field appearance="outline" class="custom-field form-field">
          <mat-label>Fecha de Inicio</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate" required
            (click)="startPicker.open()">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
          <mat-error>Requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-field form-field">
          <mat-label>Fecha de Fin</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="endDate" required (click)="endPicker.open()">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
          <mat-error>Requerido</mat-error>
        </mat-form-field>

      </div>

    </form>

  </mat-dialog-content>

  <div class="dialog-footer">
    <button mat-stroked-button (click)="onCancel()" class="btn-cancel">Cancelar</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="sprintForm.invalid" class="btn-save">
      <mat-icon>save</mat-icon> Guardar Cambios
    </button>
  </div>

</div>