<h2 mat-dialog-title>Editar Foto de Perfil</h2>

<mat-dialog-content class="content-container">

    <div class="upload-state" *ngIf="!imageChangedEvent">
        <div class="icon-wrapper">
            <mat-icon>add_a_photo</mat-icon>
        </div>
        <p>Sube una nueva foto para tu perfil</p>
        <button mat-flat-button color="primary" (click)="fileInput.click()">
            Seleccionar Imagen
        </button>
    </div>

    <div class="crop-container" [class.hidden]="!imageChangedEvent">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
            format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()" [roundCropper]="true"
            [alignImage]="'center'">
        </image-cropper>
    </div>

    <input type="file" #fileInput style="display: none" (change)="fileChangeEvent($event)" accept="image/*" />

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button *ngIf="imageChangedEvent" (click)="fileInput.click()">
        Cambiar Foto
    </button>

    <button mat-button mat-dialog-close>Cancelar</button>

    <button mat-flat-button color="primary" (click)="save()" [disabled]="!croppedImage">
        Guardar y Actualizar
    </button>
</mat-dialog-actions>