<h1 mat-dialog-title>{{ isEditMode ? 'Editar Curso' : 'Crear Nuevo Curso' }}</h1>

<form [formGroup]="courseForm" (ngSubmit)="onSave()">
  <div mat-dialog-content class="course-form-content">

    <mat-form-field appearance="outline">
      <mat-label>Título del Curso</mat-label>
      <input matInput formControlName="title" required>
      <mat-error>El título es obligatorio.</mat-error>
    </mat-form-field>
    
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Instructor</mat-label>
        <input matInput formControlName="instructor" placeholder="Ej: Erick Rodas" required>
        <mat-error>Requerido.</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="category" required>
          <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
        </mat-select>
        <mat-error>Requerido.</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Duración (Texto)</mat-label>
        <input matInput formControlName="duration" placeholder="Ej: 8 horas" required>
        <mat-error>Requerido.</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>URL de la Imagen de Portada</mat-label>
        <input matInput formControlName="imageUrl" placeholder="https://..." required>
        <mat-error>Requerido.</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Descripción del Curso</mat-label>
      <textarea matInput formControlName="description" rows="5" required></textarea>
      <mat-error>La descripción es obligatoria.</mat-error>
    </mat-form-field>

  </div>

  <div mat-dialog-actions align="end">
    <button type="button" mat-stroked-button (click)="onCancel()">Cancelar</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="courseForm.invalid">
      {{ isEditMode ? 'Guardar Cambios' : 'Crear Curso' }}
    </button>
  </div>
</form>