<h1 mat-dialog-title>Crear Nueva Tarea</h1>

<div mat-dialog-content [formGroup]="taskForm">

  <mat-form-field appearance="outline">
    <mat-label>Título de la Tarea</mat-label>
    <input matInput formControlName="title" placeholder="Ej: Implementar login con Google" required>
    <mat-error *ngIf="taskForm.get('title')?.hasError('required')">El título es obligatorio.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descripción (Opcional)</mat-label>
    <textarea matInput formControlName="description" placeholder="Detalles adicionales sobre la tarea..."
      rows="3"></textarea>
  </mat-form-field>

  <div class="form-row"> <mat-form-field appearance="outline" class="form-field">
      <mat-label>Asignar a</mat-label>
      <mat-select formControlName="assignee" required>
        <mat-option *ngIf="availableAssignees.length === 0" disabled>No hay empleados asignados al sprint</mat-option>
        <mat-option *ngFor="let emp of availableAssignees" [value]="emp">
          {{ emp.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taskForm.get('assignee')?.hasError('required')">Debe asignar la tarea.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Prioridad</mat-label>
      <mat-select formControlName="priority" required>
        <mat-option *ngFor="let prio of priorities" [value]="prio">
          {{ prio | titlecase }} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
      <mat-form-field appearance="outline">
      <mat-label>Vincular a Meta (Opcional)</mat-label>
      <mat-select formControlName="linkedGoal">
        <mat-option [value]="null">-- Ninguna --</mat-option>
        <mat-option *ngFor="let goal of availableGoals" [value]="goal">
          {{ goal.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha Límite (Opcional)</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dueDate" placeholder="Selecciona una fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="taskForm.invalid">Crear Tarea</button>
</div>