.summary-box {
    background: #fff3e0; // Un naranja muy suave
    padding: 15px 24px;
    border-bottom: 1px solid #ffe0b2;
    margin-bottom: 10px;

    p {
        margin: 4px 0;
        color: #555;
    }

    strong {
        color: #d84315;
    }
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

mat-dialog-content {
    padding-top: 20px !important;
}