<aside class="sidebar-container">
  <div class="sidebar-header">
    <img src="assets/logo.svg" alt="Logo" class="logo">
    <span class="logo-text">Punto Pymes</span>
  </div>

  <nav class="sidebar-nav">
    <a routerLink="/dashboard/overview" routerLinkActive="active" class="nav-item">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M2.5 3A1.5 1.5 0 001 4.5v11A1.5 1.5 0 002.5 17h15a1.5 1.5 0 001.5-1.5v-11A1.5 1.5 0 0017.5 3h-15zm4.75 3.5a.75.75 0 00-1.5 0v5a.75.75 0 001.5 0v-5zm4 0a.75.75 0 00-1.5 0v5a.75.75 0 001.5 0v-5zm3.25 2a.75.75 0 011.5 0v3a.75.75 0 01-1.5 0v-3z"
          clip-rule="evenodd" />
      </svg>
      <span>Vista General</span>
    </a>
    <a routerLink="/dashboard/employees" routerLinkActive="active" class="nav-item">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.41-1.412A6.97 6.97 0 0010 12c-2.31 0-4.438.784-6.131 2.1zM10.75 12a1 1 0 011 1v.75a.75.75 0 001.5 0V13a2.5 2.5 0 00-2.5-2.5h-1.5A2.5 2.5 0 007 13v.75a.75.75 0 001.5 0V13a1 1 0 011-1h.75z" />
      </svg>
      <span>Gestión de Personal</span>
    </a>
    <a href="#" class="nav-item">
      <svg>
        <path d="..."></path>
      </svg>
      <span>Tareas y Productividad</span>
    </a>
    <a href="#" class="nav-item">
      <svg>
        <path d="..."></path>
      </svg>
      <span>Reportes</span>
    </a>
  </nav>

  <div class="sidebar-footer">
  </div>
</aside>