<div class="settings-subpage-container">
  <app-subpage-header title="Configurar Roles y Permisos" backRoute="/dashboard/settings">
     <button mat-flat-button color="primary" (click)="createNewRole()">
       <mat-icon>add_circle_outline</mat-icon>
       Nuevo Rol Personalizado
     </button>
  </app-subpage-header>

  <p class="description">
    Define los roles administrativos y de usuario dentro de la plataforma. Puedes clonar roles existentes
    y ajustar sus permisos específicos.
  </p>

  <div class="roles-list">
    <div class="role-item header">
      <span>Nombre del Rol</span>
      <span>Descripción</span>
      <span>Usuarios Asignados</span>
      <span>Tipo</span>
      <span>Acciones</span>
    </div>

    <div *ngFor="let role of roles" class="role-item">
      <span class="role-name">{{ role.name }}</span>
      <span class="role-description">{{ role.description }}</span>
      <span class="user-count">
        {{ role.userCount }}
        <button mat-icon-button color="primary" class="view-users-btn" matTooltip="Ver Usuarios" (click)="viewAssignedUsers(role)">
          <mat-icon>visibility</mat-icon>
        </button>
      </span>
      <span class="role-type">{{ role.isCustom ? 'Personalizado' : 'Sistema' }}</span>
      <td class="actions">
         <button mat-icon-button matTooltip="Editar Permisos" (click)="editRolePermissions(role)">
          <mat-icon>checklist</mat-icon>
        </button>
        <button *ngIf="role.isCustom" mat-icon-button color="warn" matTooltip="Eliminar Rol">
          <mat-icon>delete_outline</mat-icon>
        </button>
         <div *ngIf="!role.isCustom" class="action-placeholder"></div>
      </td>
    </div>
     <div *ngIf="roles.length === 0" class="empty-list-placeholder">
       No hay roles definidos.
     </div>
  </div>
</div>