<div class="dialog-container">

    <div class="dialog-header">
        <h2 mat-dialog-title>Crear Nuevo Proyecto</h2>
        <button type="button" mat-icon-button class="close-btn" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content class="simple-dialog-content">

        <form [formGroup]="form" class="simple-form">

            <p class="dialog-instruction">
                <mat-icon>info</mat-icon>
                Define el proyecto y asigna un líder técnico.
            </p>

            <mat-form-field appearance="outline" class="full-width custom-field">
                <mat-label>Nombre del Proyecto</mat-label>
                <input matInput formControlName="nombre" placeholder="Ej: App Móvil v2" required>
                <mat-icon matSuffix>rocket_launch</mat-icon>
                <mat-error *ngIf="form.get('nombre')?.hasError('required')">Requerido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width custom-field">
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="descripcion" rows="3"
                    placeholder="Detalles del alcance..."></textarea>
                <mat-icon matSuffix style="align-self: start; margin-top: 8px;">description</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width custom-field">
                <mat-label>Líder del Proyecto</mat-label>
                <mat-select formControlName="liderId" required>
                    <mat-option *ngFor="let emp of data.employees" [value]="emp.id">
                        {{ emp.nombre }} {{ emp.apellido }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix>person_pin</mat-icon>
                <mat-error>Debes asignar un líder</mat-error>
            </mat-form-field>

        </form>

    </mat-dialog-content>

    <div class="dialog-footer">
        <button mat-stroked-button mat-dialog-close class="btn-cancel">Cancelar</button>
        <button mat-flat-button color="primary" (click)="onSave()" [disabled]="form.invalid" class="btn-save">
            <mat-icon>save</mat-icon> Crear Proyecto
        </button>
    </div>

</div>